<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>首页</title>
</head>
<frameset rows="55,*,25" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="/home/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="185,*" frameborder="no" border="0" framespacing="0">
    <frame src="/home/left"name="leftFrame" scrolling="auto" noresize="noresize" id="leftFrame" title="leftFrame" scrolling-y="auto"/>
    <frame src="/home/right" name="mainFrame" id="mainFrame" title="index" />
  </frameset>
  <frame src="/home/foot" name="footFrame" scrolling="no" noresize="noresize" id="footFrame" />
</frameset>
<noframes></noframes>
<body>
</body>
</html>