/*每行1个架子*/
.s_freezer_box_small .freezer .top .layer a{
display:block;
height:99%;
width:20px;
background-image:url(r_savespace/box_bg.png);
background-size:100% 100%;
-webkit-background-size:100% 100%;
-moz-background-size:100% 100%;
float:left;
margin-left:1%;
}
.s_freezer_box_small .freezer .top .layer a:hover{
display:block;
height:99%;
width:20px;
background-image:none;
background-color:#8c8c8c;
float:left;
margin-left:1%;
}
/*每行2个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:49%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:49%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/
/*每行3个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:32%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:32%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/

/*每行4个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:24%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:24%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/
/*每行5个架子*/
/*
.freezer_box_small .freezer .top .layer a{
    display:block;
    height:19%;
    width:20px;
    background-image:url(r_savespace/box_bg.png);
    background-size:100%;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    float:left;
    margin-left:1%;
}
.freezer_box_small .freezer .top .layer a:hover{
    display:block;
    height:19%;
    width:20px;
    background-image:none;
    background-color:#8c8c8c;
    float:left;
    margin-left:1%;
}
*/

/*每行6个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:15%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:15%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/

/*每行7个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:13%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:13%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }
 */
/*每行8个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:11.5%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:11.5%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/

/*每行9个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 height:10%;
 width:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:10%;
 width:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/


