
/*每行1个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:99%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:99%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/
/*每行2个架子*/
.s_freezer_box_small .freezer .top .layer a{
 display:block;
 height:49%;
 width:20px;
 background-image:url(r_savespace/box_bg.png);
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
 float:left;
 margin-left:1%;
 }
 .s_freezer_box_small .freezer .top .layer a:hover{
 display:block;
 height:49%;
 width:20px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }
/*每行3个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:32%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:32%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/

/*每行4个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:24%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:24%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/
/*每行5个架子*/
/*
.freezer_box_small .freezer .top .layer a{
    display:block;
    width:19%;
    height:20px;
    background-image:url(r_savespace/box_bg.png);
    background-size:100%;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    float:left;
    margin-left:1%;
}
.freezer_box_small .freezer .top .layer a:hover{
    display:block;
    width:19%;
    height:20px;
    background-image:none;
    background-color:#8c8c8c;
    float:left;
    margin-left:1%;
}
*/

/*每行6个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:15%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:15%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/

/*每行7个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:13%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:13%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }
 */
/*每行8个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:11.5%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:11.5%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/

/*每行9个架子*/
/*.freezer_box_small .freezer .top .layer a{
 display:block;
 width:10%;
 height:46px;
 background-image:url(r_savespace/box_bg.png);
 background-size:100%;
 -webkit-background-size:100%;
 -moz-background-size:100%;
 float:left;
 margin-left:1%;
 }
 .freezer_box_small .freezer .top .layer a:hover{
 display:block;
 width:10%;
 height:46px;
 background-image:none;
 background-color:#8c8c8c;
 float:left;
 margin-left:1%;
 }*/


