<!-- 液氮罐、架子、盒子 -->
<div class="r_upright_freezer_box_big">
  <div class="bocal_<%= @container.frame_num %>_box_big">
    <div class="bocal_<%= @container.frame_num %>_big">
      <%= render :partial => "liquid_svg",:locals => {:frame_storages=>@container.frame_storages}%>
    </div>
  </div>
  <div class="r_name_path">
    <i>名称：</i><span>冰箱1</span><i>路径：</i><span>abcdefg</span>
  </div>
</div>
<div class="r_upright_shelf_box_small">

  <div class="r_name_path">
    <i>名称：</i><span>架子1</span><i>路径：</i><span>abcdefg</span>
  </div>
</div>
<div class="r_upright_box_box_small">
  <div class="r_name_path">
    <i>名称：</i><span>盒子1</span><i>路径：</i><span>abcdefg</span>
  </div>
</div>
