
<!-- Footer starts -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Copyright info -->
        <p class="copy">Copyright &copy; 2015 | <a href="#">http://www.rilintech.com</a> </p>
      </div>
    </div>
  </div>
</footer>

<!-- Footer ends -->



