
<!-- Header starts -->

<header id="header">
  <div class="container">
    <!--<div class="row">-->
      <!--&lt;!&ndash; Logo section &ndash;&gt;-->
      <!--<div class="col-md-4">-->
        <!--&lt;!&ndash; Logo. &ndash;&gt;-->
        <!--<div class="logo">-->
          <!--<h1><a href="#">Rilintech<span class="bold"></span></a></h1>-->
          <!--<p class="meta">something goes in meta area</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; Logo ends &ndash;&gt;-->
      <!--</div>-->

      <!--&lt;!&ndash; Button section &ndash;&gt;-->
      <!--<div class="col-md-4">-->
        <!--&lt;!&ndash; Buttons &ndash;&gt;-->
        <!--<ul class="nav nav-pills">-->



          <!--&lt;!&ndash; Message button with number of latest messages count&ndash;&gt;-->
          <!--<li class="dropdown dropdown-big">-->
            <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown">-->
              <!--<i class="fa fa-envelope"></i> 系统消息 <span class="label label-primary">6</span>-->
            <!--</a>-->

            <!--<ul class="dropdown-menu">-->
              <!--<li>-->
                <!--&lt;!&ndash; Heading - h5 &ndash;&gt;-->
                <!--<h5><i class="fa fa-envelope"></i> Messages</h5>-->
                <!--&lt;!&ndash; Use hr tag to add border &ndash;&gt;-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--&lt;!&ndash; List item heading h6 &ndash;&gt;-->
                <!--<h6><a href="#">Hello how are you?</a></h6>-->
                <!--&lt;!&ndash; List item para &ndash;&gt;-->
                <!--<p>Quisque eu consectetur erat eget  semper...</p>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<h6><a href="#">Today is wonderful?</a></h6>-->
                <!--<p>Quisque eu consectetur erat eget  semper...</p>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<div class="drop-foot">-->
                  <!--<a href="#">View All</a>-->
                <!--</div>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->

          <!--&lt;!&ndash; Members button with number of latest members count &ndash;&gt;-->
          <!--<li class="dropdown dropdown-big">-->
            <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown">-->
              <!--<i class="fa fa-user"></i> 今日录入 <span   class="label label-success">6</span>-->
            <!--</a>-->

            <!--<ul class="dropdown-menu">-->
              <!--<li>-->
                <!--&lt;!&ndash; Heading - h5 &ndash;&gt;-->
                <!--<h5><i class="fa fa-user"></i> Users</h5>-->
                <!--&lt;!&ndash; Use hr tag to add border &ndash;&gt;-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--&lt;!&ndash; List item heading h6&ndash;&gt;-->
                <!--<h6><a href="#">Ravi Kumar</a> <span class="label label-warning pull-right">Free</span></h6>-->
                <!--<div class="clearfix"></div>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<h6><a href="#">Balaji</a> <span class="label label-important pull-right">Premium</span></h6>-->
                <!--<div class="clearfix"></div>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<h6><a href="#">Kumarasamy</a> <span class="label label-warning pull-right">Free</span></h6>-->
                <!--<div class="clearfix"></div>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<div class="drop-foot">-->
                  <!--<a href="#">View All</a>-->
                <!--</div>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->

          <!--&lt;!&ndash; Comment button with number of latest comments count &ndash;&gt;-->
          <!--<li class="dropdown dropdown-big">-->
            <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown">-->
              <!--<i class="fa fa-comments"></i> 待随访 <span class="label label-info">6</span>-->
            <!--</a>-->

            <!--<ul class="dropdown-menu">-->
              <!--<li>-->
                <!--&lt;!&ndash; Heading - h5 &ndash;&gt;-->
                <!--<h5><i class="fa fa-comments"></i> Chats</h5>-->
                <!--&lt;!&ndash; Use hr tag to add border &ndash;&gt;-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--&lt;!&ndash; List item heading h6 &ndash;&gt;-->
                <!--<h6><a href="#">Hi :)</a> <span class="label label-warning pull-right">10:42</span></h6>-->
                <!--<div class="clearfix"></div>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<h6><a href="#">How are you?</a> <span class="label label-warning pull-right">20:42</span></h6>-->
                <!--<div class="clearfix"></div>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<h6><a href="#">What are you doing?</a> <span class="label label-warning pull-right">14:42</span></h6>-->
                <!--<div class="clearfix"></div>-->
                <!--<hr />-->
              <!--</li>-->
              <!--<li>-->
                <!--<div class="drop-foot">-->
                  <!--<a href="#">View All</a>-->
                <!--</div>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->

        <!--</ul>-->

      <!--</div>-->

      <!--&lt;!&ndash; Data section &ndash;&gt;-->

      <!--<div class="col-md-4">-->
        <!--<div class="header-data">-->
          <!--&lt;!&ndash; Traffic data &ndash;&gt;-->
          <!--<div class="hdata">-->
            <!--<div class="mcol-left">-->
              <!--&lt;!&ndash; Icon with red background &ndash;&gt;-->
              <!--<i class="fa fa-signal bred"></i>-->
            <!--</div>-->
            <!--<div class="mcol-right">-->
              <!--&lt;!&ndash; Number of visitors &ndash;&gt;-->
              <!--<p><a href="#"><%#= Sample.all.length%></a> <em>样本</em></p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Members data &ndash;&gt;-->
          <!--<div class="hdata">-->
            <!--<div class="mcol-left">-->
              <!--&lt;!&ndash; Icon with blue background &ndash;&gt;-->
              <!--<i class="fa fa-user bblue"></i>-->
            <!--</div>-->
            <!--<div class="mcol-right">-->
              <!--&lt;!&ndash; Number of visitors &ndash;&gt;-->
              <!--<p><a href="#"><%#= PatientCase.all.length%></a> <em>病例</em></p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--&lt;!&ndash; revenue data &ndash;&gt;-->
          <!--<div class="hdata">-->
            <!--<div class="mcol-left">-->
              <!--&lt;!&ndash; Icon with green background &ndash;&gt;-->
              <!--<i class="fa fa-money bgreen"></i>-->
            <!--</div>-->
            <!--<div class="mcol-right">-->
              <!--&lt;!&ndash; Number of visitors &ndash;&gt;-->
              <!--<p><a href="#"><%#= PatientInfo.all.length%></a><em>病案</em></p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  </div>
</header>

<!-- Header ends -->
