<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div class="conjtainer">
    <!-- Menu button for smallar screens -->
    <div class="navbar-header">
      <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span>Menu</span>
      </button>
      <!-- Site name for smallar screens -->
      <a href="index.html" class="navbar-brand hidden-lg">MacBeth</a>
    </div>
    <!-- Navigation starts -->
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->
        <li class="dropdown dropdown-big">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-success"><i class="fa fa-cloud-upload"></i></span> 当前患者－张山</a>
          <!-- Dropdown -->
          <ul class="dropdown-menu">
            <li>
              <!-- Progress bar -->
              <p>性别:男</p>
              <!-- Bootstrap progress bar -->
              <!--<div class="progress progress-striped active">-->
                <!--<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                  <!--<span class="sr-only">40% Complete</span>-->
                <!--</div>-->
              <!--</div>-->
              <hr />

              <!-- Progress bar -->
              <p>出生日期:1988-07-21</p>
              <!-- Bootstrap progress bar -->
              <!--<div class="progress progress-striped active">-->
                <!--<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                  <!--<span class="sr-only">80% Complete</span>-->
                <!--</div>-->
              <!--</div>-->

              <hr />

              <p>☎️:133-9155-3421</p>
              <hr />
              <!-- Dropdown menu footer -->
              <div class="drop-foot">
                <a href="#">View All</a>
              </div>

            </li>
          </ul>
        </li>

        <!-- Sync to server link -->
        <li class="dropdown dropdown-big">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger"><i class="fa fa-refresh"></i></span> 病例信息 2015-05-11</a>
          <!-- Dropdown -->
          <ul class="dropdown-menu">
            <li>
              <!-- Using "icon-spin" class to rotate icon. -->
              <p><span class="label label-info"><i class="fa fa-cloud"></i></span> Syncing Members Lists to Server</p>
              <hr />
              <p><span class="label label-warning"><i class="fa fa-cloud"></i></span> Syncing Bookmarks Lists to Cloud</p>
              <hr />
              <!-- Dropdown menu footer -->
              <div class="drop-foot">
                <a href="#">View All</a>
              </div>

            </li>
          </ul>
        </li>

      </ul>

      <!-- Search form -->
      <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
      <!--</form>-->
      <!-- Links -->
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown pull-right">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-user"></i> Admin <b class="caret"></b>
          </a>

          <!-- Dropdown menu -->
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
            <li><a href="/sys_account/sign_out"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>

      </ul>
    </nav>

  </div>
</div>

